<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="configFragment">
	<!-- 공통으로 쓰이는 css파일을넣는다.-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
	<script type="text/javascript" src="webjars/jquery/3.4.1/jquery.min.js"></script>

<!-- 사용자 CSS 영역이 들어감 -->
<th:block layout:fragment="css"></th:block>
 
<!-- 공통으로 쓰이는 css파일을넣는다.-->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- 사용자 스크립트 영역이 들어감 -->
<th:block layout:fragment="script"></th:block>
</head>
 
</html>