<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:include="fragments/header"></th:block>
</head>
<body>
	<th:block th:include="fragments/nav"></th:block>  
	<!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
							<h2>질문 쓰기</h2>
                            <p>Home <span>//</span>Question</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<!-- End banner Area -->
	
	<div class="whole-wrap">
		<div class="container box_1170">
			<div class="section-top-border">
				<div class="row">
					<div class="col-lg-2 col-md-2 mt-sm-30">
					</div>
					<div class="col-lg-8">
				          <form class="form-contact contact_form" action="/questions" method="post" id="contactForm" novalidate="novalidate">
				            <div class="row">
				              <div class="col-sm-6">
				                <div class="form-group">
				                  <input class="form-control" th:value="${writer.userId}" id="writer" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder="Enter your name" ReadOnly>
				                </div>
				              </div>
				              <!--
				              <div class="col-sm-6">
				                <div class="form-group">
				                  <input class="form-control" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Enter email address">
				                </div>
				              </div>
				              -->
				              <div class="col-12">
				                <div class="form-group">
				                  <input class="form-control" name="title" id="title" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Enter Subject">
				                </div>
				              </div>
				              <div class="col-12">
				                <div class="form-group">				                  
				                    <textarea class="form-control w-100" name="contents" id="contents" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder="Enter Message"></textarea>
				                </div>
				              </div>
				            </div>
				            <div class="form-group mt-3">
				              <button type="submit" class="button button-contactForm btn_4">질문쓰기</button>
				            </div>
				          </form>
			        </div>
					<div class="col-lg-2 col-md-2 mt-sm-30">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<th:block th:include="fragments/footer"></th:block> 
</body>

</html>